*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.weather-logo{
  height: 70px;
  width: 70px;
}

.theme-button {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}



.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 60px;
}
