*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.weather-logo{
  height: 70px;
  width: 70px;
}

.theme-button {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.weather-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

@media screen and (min-width: 768px) and ( max-width: 992px) {
  .weather-layout {
    flex-direction: column;
    padding: 15px;
  }
  
}

/* current location layout starts */
.current-location-layout {
  min-height: 300px;
  min-width: 300px;
}

.gif-loader-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif-loader-layout img {
  height: 200px;
  width: 200px;
}

.current-location-layout{
  display: flex;
  align-items: flex-end;
}


.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 60px;
}
