*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.weather-logo{
  height: 70px;
  width: 70px;
}

@media screen and (max-width: 992px) {
  .weather-logo{
    height: 45px;
    width: 45px;
  } 
}

.theme-button {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.weather-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  /* width: ; */
}

@media screen and (min-width: 768px) and ( max-width: 992px) {
  .weather-layout {
    padding: 15px;
  }
  
}

/* current location layout starts */
.current-location-layout {
  padding: 20px;
  min-height: 250px;
  min-width: 250px;
  border-radius: 10px;
  background-color: #4ca9db;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 2px #000000;
}

.dark-box-shadow {
  box-shadow: 0px 0px 12px 2px #ffffff;
}

/* 
.current-location-layout{

  display: flex;
  flex-direction: column;
  align-items: center;

} */


.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 60px;
}


.weather-info-layout{
  list-style-type: none;
  padding-left: 0px;
}